@charset "utf-8";
/* 头部开始 */
 .logotop{ background-image:url(../images/head.jpg);
           width:1200px;
           height:146px;
           font-size:16px; 
		   z-index:100;
		   margin: 0 auto;
        }
 .logotop1{
		text-align:left;
		margin-left:50px;
		padding-top:5px;
 		}
 .logotop2{
		text-align:right;
		padding-top:5px;
		margin-left:800px;
		}
  .st1{
	  text-align:left;
		margin-left:50px;
		padding-top:5px;
		font-weight:400;
		color:#ac030a;
	  }
.logotop3{
	margin-top:78px;
	margin-left:200px;}
	.inlineboxul{font-family:"宋体";
	display:inline-block;
	*display:inline;      /* 只有ie6和ie7识别*/
	_display:inline;      /* 只有ie6和ie7识别*/
    zoom:1; 
	width:800px;
	position:relative;
	list-style-type:none;
	 list-style:none;
	 z-index:100;
	}
  .inlineboxul li:hover ul{
		  display:block;
		  }
  .inlineboxul li{ float:left;
	  line-height:35px;
	  width:100px; 
	  height:40px; 
	  text-align:center;  
	  position:relative;
	  }
  .inlineboxul  a{ 
	    text-decoration:none;
 		display:block;
		width:100px;
		}
    .inlineboxul   a:hover{ 
	  color:#FFF;
	  background-color:#EE6217;
	  }

  .inlineboxul li ul li{
		  float:none;
		  background-color:#b70005;
		 width:100px;  } 

      .inlineboxul li ul
	  {
		  width:100px; 
	  position:absolute;
	  display:none; 
	  }
/* 头部结束 */


/* 页面弹出报名框开始 */
 
        *{padding: 0; margin: 0}  
        .boxss{  
            position: fixed;  
            width: 1px;  
            height: 1px;  
            background: rgba(0,0,0,0.2);  
            display: none;
		
        }  
        .boxs1{  
            width: 550px;  
            height: 400px;  
            position: fixed;left: 50%; top: 25%;  
            margin-left: -250px;  
            background-image:url(../images/baombj.png) ; 
			
        }
		.button5291{  height:41px; width:100px; border:none;
	background-image:url(../images/qr.png);
	}
	.button5292{  height:41px; width:100px; border:none;
	background-image:url(../images/qx.png);
	}
/* 页面弹出报名框结束 */




/* botton开始 */	 	  
	  
.botton{
	background-image:url(../images/sttp014.jpg);
           width:1200px;
           height:313px;
           font-size:20px; 
		   z-index:100;
		  
	}	  
	  
.botton1{
	margin-left:-200px;
	padding-top:100px;
    padding-left:-500px;
	font-weight:600;
	}	  
.botton2{
	padding-top:20px;
	text-align:center;
	font-weight:550;
	line-height:130%;
	}

 /* 首页在线样板房报名开始 */	 	  
	  
   
 .dqbjj{ background-image:url(../images/sytp/sttp002.jpg);
 width:1200px; height:459px;}
 .buttondqb{  height:40px; width:250px; border:none;
	background-image:url(../images/ljtjao.jpg)
	}
 

ul,li,dl,ol{list-style:none;}

 #Boxs{  width:1200px; height:450px;   }
#Box-a{ float:left;   width:300px;   height:300px;     margin-left:0px;
     margin-bottom:0px;   margin-top:0px; }
 /* 首页在线样板房报名结束 */	
 
 
 
 /* 首页首页家装案例开始 */	
 .notice{width:1200px;
        height:710px;
        margin:10px;
        border:1px solid #eee;
		font-size:22px;
        overflow:hidden;}

.notice-tit{height:45px;
            position:relative;
            background:#FFFFFF;}

.notice-tit ul{position:absolute;
               width:1190px;
			   margin-left:7px;
			   font-weight:400;
               left:-1px;}

.notice-tit li{float:left;
               width:130px;
               height:45px;
               line-height:45px;
               text-align:center;
               overflow:hidden;
               
               padding:0 1px;
               background:#E1E1E1;
               border-bottom:1px solid #eee;}

.notice-tit li.select{background:#BF070F;
                      border-bottom-color:#FFF;
                      border-left:1px solid #eee;
                      border-right:1px solid #eee;
                      padding:0;
                      font-weight:400;}

.notice li a:link,.notice li a:visited{text-decoration:none;
                                               color:#000;}
.notice-con .mod{margin:10px 6px;}

.notice-con .mod ul li{float:left;
                       width:1200px;
                       height:640px;
                       overflow:hidden;}
					   
					   
 /* 首页首页家装案例结束 */				   
					   
 
/* 工厂店活动开始 */	
.act{ background-image:url(../images/act/stjzgq_17.jpg);
 width:1200px; height:668px;}
.actbm{  height:48px; width:200px; border:none;
	background-image:url(../images/zxyy/ljyy.jpg)
	}
.act1{ background-image:url(../images/act/stjzgq_17.jpg);
 width:1200px; height:668px;}
.actbm1{  height:48px; width:200px; border:none;
	background-image:url(../images/zxyy/ljyy.jpg)
	}

.actq{ background-image:url(../images/act/hf20171020_08.jpg);
 width:1920px; height:282px;}
.actbm{  height:48px; width:200px; border:none;
	background-image:url(../images/zxyy/ljyy.jpg)
	}
	
.actw{ background-image:url(../images/act/hf20171020_10.jpg);
 width:1920px; height:281px;}
.actbm{  height:48px; width:200px; border:none;
	background-image:url(../images/zxyy/ljyy.jpg)
	}	
	
.acte{ background-image:url(../images/act/hf20171020_14.jpg);
 width:1920px; height:332px;}
.actbm{  height:48px; width:200px; border:none;
	background-image:url(../images/zxyy/ljyy.jpg)
	}	
	
/* 工厂店活动结束 */

/* 新闻和装修百科报名表单开始 */	
.news{ background-image:url(../images/baomb.jpg);
 width:300px; height:360px;}
.newsbm{  height:41px; width:200px; border:none;
	background-image:url(../images/news.jpg);
	}
/* 新闻和装修百科报名表单结束 */

/* 装修案例开始 */	

.center{ width:1200px; background-image:url(../images/zxal/t102.jpg);  height:auto; padding-left:auto; padding-top:auto; margin:0 auto;  }
 .jdal{text-align:center; font-family:'宋体'; 
 line-height:120px;  
	padding-top:5px;
	text-shadow: 10px 5px 4px red;
	width:1200px; height:110px; margin-top:15px; margin:0px auto;   font-size:46px; 
 	}
   .center11{background-color:#eceaea; } 
 .center ul{ float:left; display:block;  width:385px; padding-bottom:10px; margin:10px 0 0 10px ; }
      .center ul li{ width:385px; float:left; display:block;  }
	  .center ul li.pi-1{ width:382px; height:260px; text-align:center;  border:#d8d5d5 3px solid;}
	  .center ul li.pi-2{ height:30px; color:#C30; padding-top:10px;  font-size:16px;  font-family:'宋体'; text-align:center; }	
	  .center ul li.pi-3{ height:20px; color:#996; font-size:16px; padding-bottom:0px; text-align:center;}	
/* 装修案例结束 */	

	 
.center1{ width:1200px; background-image:url(../images/zxal/t_02.jpg); height:auto; padding-left:auto; padding-top:auto; margin:0 auto;  }
.center2{ width:1080px; text-align:center;   }
       .center2 ul{ float:left; display:block;  width:260px; padding-bottom:10px; margin:10px 0 0 10px ; }
     .center2 ul li{ width:250px; float:left; display:block; background-color:#FFF;  }
    .center2 ul li.pi-4{ width:240px; height:210px; text-align:center;  border:#FFF 5px solid;}
	   .center2 ul li.pi-5{ height:30px; color:#C30; padding-top:10px;  font-size:16px;  font-family:'宋体'; text-align:center; }

/* 设计团队开始 */	
.sjtdbox{ 
 width:1200px; height:655px;
 background-image:url(../images/sjtd_list.jpg);
}
.sjtdboxleft{
	width:550px; height:500px;
	float:left;
	margin-top:140px;
	text-align:left;
	margin-left:50px;
	}
.sjtdboxright{
	float:right;
	margin-top:140px;
	text-align:left;
	margin-left:10px;
	width:550px; height:480px;
	margin-right:40px;
	}
	
	
/* 设计团队结束 */	

/* 装修预约开始 */	
.zxyy{ background-image:url(../images/zxyy/1.jpg);
 width:1200px; height:494px;}
.zxyybm{  height:48px; width:200px; border:none;
	background-image:url(../images/zxyy/ljyy.jpg)
	}
/* 装修预约结束 */	

 
/* 了解盛腾开始 */	
 .ljgcd{ background-image:url(../images/ljst/ljst_02.jpg);
 width:1200px; height:550px;}
  .buttonbm{  height:40px; width:210px; border:none;
	background-image:url(../images/ljbm.jpg)
	}
/* 了解盛腾结束 */	 
 /* 首页明星设计师开始 */	

	
ul, ul li {list-style: none;} 
.clear {clear: both;} 
.box{position: relative;
width: 1050px;
height:300px;
margin-top:230px;
}
.box1{position: relative;
width: 1050px;
margin-top:0px;}
.lineF, .lineS, .lineT{position: absolute;
visibility: hidden;}

.lineF{top: -225px;left: 131px;}
.lineT{ top:-75px; left:131px;}
.boxF, .boxS, .boxT, .overlay{width: 250px;height: 313px;overflow: hidden;}
.boxF, .boxS{visibility: hidden;}
.boxF{transform: rotate(120deg);
float: left;
margin-left: 10px;
-ms-transform: rotate(120deg);
-moz-transform: rotate(120deg);
-webkit-transform: rotate(120deg);
}
.boxS{transform: rotate(-60deg);
-ms-transform: rotate(-60deg);
-moz-transform: rotate(-60deg);
-webkit-transform: rotate(-60deg);}
.boxT{transform: rotate(-60deg);
background: no-repeat 50% center;
background-size: 125% auto;
-ms-transform: rotate(-60deg);
-moz-transform: rotate(-60deg);
-webkit-transform: rotate(-60deg);
visibility: visible;
}
.overlay{transition: all 250ms ease-in-out 0s;
display: none;
position: relative;}
.overlay1{transition: all 250ms ease-in-out 0s;
display: none;
position: relative;}
.overlay:hover{

	}
.boxT:hover .overlay{display: block;}
.overlays{display: inline-block;
position: absolute;
left: 50%;
top: 70%;
margin: -120px 140px 0 -120px;border-radius: 10px;
background-color: rgba(0,0,0,0.7);	

text-align: center;
line-height: 32px;
width: 240px;
height: 100px;
text-decoration: none;
color: White;
font-weight: bold;}

 /* 首页明星设计师结束 */	
 .xiayi{
	 margin-top:230px;
	 } 
.nav a{
	color: #FFFFFF;
	line-height: 40px;
}
  
